:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    .app-wrapper {
        position: relative;
        min-height: 100%;
        padding: 0;
        .spinner-wrapper {
            position: absolute;
            bottom: 3em;
            right: 1em;
        }
    }
    nav {
        display: flex;
        width: 100%;
        .nav-menu {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            width: 100%;
            button {
                cursor: pointer;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
            }
            @media all and (max-width: 800px) {
                justify-content: space-around;
            }
        }
        @media all and (max-width: 500px) {
            flex-direction: column;
            img {
                width: 100%;
                margin: auto;
            }
        }
    }
}
