<mat-card class="app-wrapper">
  <nav>
    <div class="nav-menu">
      <button mat-button routerLink="">Home</button>
      <button mat-button [disabled]="!user" routerLink="/private">Private</button>
      <app-login mat-button></app-login>
    </div>
  </nav>

  <div class="spinner-wrapper" *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>

  <section class="main-router">
    <router-outlet></router-outlet>
  </section>

  <footer>
    <button mat-button routerLink="about">About</button>
  </footer>
</mat-card>