@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}

$light-background-grey: #f2f2f2;
$dark-font-grey: #555;
$pink-logo: #edafd0;
$green-logo: #b6d6be;
$dark-grey-logo: #4e4e4d;
$warning-red: #c03221;
$success-green: #2db98a;
$opacity-high: .95;
$opacity-medium: .2;

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}
.mat-snack-bar-container {
    min-height: 10em !important;
}

.danger {
    background: transparentize($warning-red, $opacity-medium);
}
.success {
    background: transparentize($success-green, $opacity-medium);
}

nav,
footer {
    display: flex;
    font-weight: 300;
    font-size: 20px;
    background-color: transparentize($dark-font-grey, $opacity-high);
    color: $dark-font-grey;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
footer {
    position: absolute;
    background-color: $dark-grey-logo;
    color: $light-background-grey;
    bottom: 0;
    left: 0;
    right: 0;
}
.login-wrapper {
    form {
        display: flex;
        flex-direction: column;
    }
}
.user-form-buttons {
    align-self: flex-end;
    button {
        margin: 0 .5em;
        &:last-child {
            margin-right: 0;
        }
    }
}

.main-router {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-image: radial-gradient(
        ellipse farthest-corner at 0 140%,
        transparentize($dark-font-grey, $opacity-high) 0%,
        transparentize($light-background-grey, $opacity-high) 70%,
        transparentize($dark-font-grey, $opacity-high) 70%
    );
}
